html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 1280px;
    background-color: #e5e5e5;
    padding: 5vh 5vw;
}

h1 {
    color: #395aa6;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.nav-title {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #395aa6;
}
.nav-title-link {
    color: #395aa6;
    text-decoration: none;
}

.courses_container {
    display: flex;
    flex-wrap: wrap;
}

.course_container {
    position: relative;
    margin: 10px;
    padding-bottom: 40px;
    width: 16vw;
    box-shadow: 0px 8px 18px rgba(92, 84, 122, 0.1);
    background: #ffffff;
    text-decoration: none;
}

.course_img {
    width: 100%;
    height: 40%;
}

.course_content {
    padding: 10px;
}

.course_datetime {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}

.course_title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    margin: 3px 0;
    color: rgba(0, 0, 0, 0.87);
}

.course_age {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
}

.course_mentor {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.course_mentor_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.course_mentor_name {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
}

.pages_container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.pages_container button {
    font-family: Jost;
    margin: 10px;
    padding: 10px;
    background-color: #395aa6;
    color: #e5e5e5;
    border: 1px solid #395aa6;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.pages_container button:hover {
    background-color: #e5e5e5;
    color: #395aa6;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #395aa6;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg)
            rotateY(-179.9deg);
    }
}
